<% provide(:title, 'About') %>
<h1>About Koshar Realty, P.C.</h1>
<p>Koshar Realty has been operating in Marcellus, Michigan since April 1971. We specialize in buying and selling residential, commercial, and lakefront properties in Cass County, St. Joseph County, and Van Buran County. We also handle farm acreage, vacant lots, and manufactured housing.</p>
