<% provide(:title, 'Home') %>

<h1>Welcome to Koshar Realty</h1>
<p>Whether you are ready to settle into that ideal home for you and your family, looking for a perfect spot to build a new home, or need space to embark on a new business venture, Koshar Realty is here to help you meet your real estate needs.

We'd like to help you get started today, so click here to view all of our current listings, or visit our contact page to let us know what you're looking for and we will personalize some potential matches for you!</p>
