<footer class="footer">
	<small>
		Koshar Realty, P.C. | 418 East Main St. | P.O. Box 605 | Marcellus, MI 49067
	</br>
		Phone 269-646-5541 | Fax 269-646-2212
	</small>
    <nav>
    	<ul>
          <% if signed_in? %>
            <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
          <% else %>
    	  <li><%= link_to "Sign In", signin_path %></li>
          <% end %>
    	</ul>
    </nav>
</footer>
