<footer class="footer">
	<small>
		Koshar Realty, P.C. | 418 East Main St. | P.O. Box 605 | Marcellus, MI 49067
	</br>
		Phone 269-646-5541 | Fax 269-646-2212
	</small>
    <nav>
    	<ul>
    	  <li><%= link_to "Admin", '#' %></li>
    	</ul>
    </nav>
</footer>
